body 
{
    background-color: #5c5470;
    font-family: Arial, Helvetica, sans-serif;
}

.menuList
{
    background-color: #352f44;
    overflow: hidden;
    text-align: center;
    padding-bottom: 15px;
}
.menuList ul
{
    list-style-type: none;
}

.menu
{
    float: left;
}
.menu a
{
    color: white;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
    block-size: auto;
}
.menu a:hover
{
    background-color: #2a2438;
}

.bonus
{
    color: white;
    text-align: center;
}

.container1
{
    color: white;


    /* Taget från: https://html-css-js.com/css/generator/ */
    background: #0C00CE;
    background: -moz-linear-gradient(-45deg, #0C00CE 0%, #1C6EA4 0%, #A200C5 100%);
    background: -webkit-linear-gradient(-45deg, #0C00CE 0%, #1C6EA4 0%, #A200C5 100%);
    background: linear-gradient(135deg, #0C00CE 0%, #1C6EA4 0%, #A200C5 100%);
    -webkit-box-shadow: 5px 5px 14px -2px rgba(0,0,0,0.67); 
    box-shadow: 5px 5px 14px -2px rgba(0,0,0,0.67);

    text-align: center;
    border-radius: 15px;
}
.container1 ul
{
    list-style-type: none;
    padding-right: 40px;
}
.container1 p
{
    font-size: large;
}
.container2
{
    color: white;

    /* Taget från: https://html-css-js.com/css/generator/ */
    background: #0C00CE;
    background: -moz-linear-gradient(-45deg, #0C00CE 0%, #1C6EA4 0%, #A200C5 100%);
    background: -webkit-linear-gradient(-45deg, #0C00CE 0%, #1C6EA4 0%, #A200C5 100%);
    background: linear-gradient(135deg, #0C00CE 0%, #1C6EA4 0%, #A200C5 100%);
    -webkit-box-shadow: 5px 5px 14px -2px rgba(0,0,0,0.67); 
    box-shadow: 5px 5px 14px -2px rgba(0,0,0,0.67);

    text-align: center;
    border-radius: 15px;
    padding: 20px;
}
.container2 p
{
    font-size: large;
}
.homeHeader
{
    color: white;
    text-align: center;
}

.homeText
{
    text-align: center;
    color: white;
    font-size: 18px;
}

.infoWrapper
{
    color: white;
}
.infoWrapper img
{
    border-radius: 50%;
    -webkit-box-shadow: 6px 6px 20px 5px rgba(0,0,0,0.67); 
    box-shadow: 6px 6px 20px 5px rgba(0,0,0,0.67);
    
}
.omMigRubrik
{
    color: white;
    text-align: center;
}
iframe
{
    border: 0px;
}

@media only screen and (max-width: 800px) 
{
    body
    {
        background-color: black;
    }
    .menuList
    {
        background-color: rgb(32, 32, 32);
    }
    .menu a:hover
    {
        background-color: rgb(42, 42, 42);
    }
}

@media only screen and (min-width: 1200px) 
{
    body 
    {
        background-color: #1D2033;
    }
    .menuList
    {
        background-color: #235FE3;
    }
    .menu a:hover
    {
        background-color: #1d4fbc;
    }
}
